* {
    --neighbors-0: transparent;
    --neighbors-1: blue;
    --neighbors-2: green;
    --neighbors-3: red;
    --neighbors-4: darkblue;
    --neighbors-5: darkred;
    --neighbors-6: teal;
    --neighbors-7: black;
    --neighbors-8: gray;
}

.minesweeper-container {
    margin: 2rem;
}

.cell {
    background-color: rgba(200, 200, 200, 0.9);
    --side: 3rem;
    width: var(--side);
    height: var(--side);
    padding: 0;
    border: 1px solid #eee;
    margin: 0;
    vertical-align: text-bottom;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: monospace;
}

.cell:disabled {
    background-color: rgba(239, 239, 239, 0.1);
    color: #000;
    cursor: auto;
}

.cell:hover {
    border: 1px solid blue;
}

.game-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5em;
}

.game-grid {
    display: flex;
    justify-content: center;
}

.game-grid-border {
    border: 1px solid #ddd;
    padding: 0.5em;
    border-radius: 0.5em;
}

.game-reset-button {
    font-size: xx-large;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.parameter-mini-input {
    width: 40px;
    margin-inline: 0.3rem;
}

.minesweeper-standard-buttons button {
    background-color: rgba(200, 200, 200, 0.9);
    padding: 10px;
    border-radius: 0.2rem;
    border: 1px solid #eee;
    margin-inline: 0.4rem;
    vertical-align: text-bottom;
    cursor: pointer;
    font-weight: bolder;
    font-family: monospace;
}

.minesweeper-standard-buttons button:hover {
    background-color: rgba(200, 200, 200);
}